.dynamic-form {
    width:30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .dynamic-form {
        width:25rem;
    }
}