.mood-option{
    display: flex;
    border-radius: 1em;
    color: white;
    justify-content: center ;
    align-items: center;
    margin:1em 3em;
    width: 10em;
    height: 3em;
}
.mood-container{
    display: flex;
    margin-top: 0.2em;
}
@media (max-width: 600px) {
    .mood-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1em;
    }
    .mood-container img{
        width:40%;
        margin-bottom:1em;
    }
    .mood-option{
        border-radius: 1em;
        color: white;
        justify-content: center ;
        align-items: center;
        margin: 0 0.5em;
        width: 5em;
        height: 1.5em;
        border: none;
        font-size: 0.75em;
        padding: 1em;
    }
}