@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 0px;
  width: 22%;
  height: 92%;
  background-color: #1D1B27;
  color: #fdfdfd;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  bottom: 0;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upper {
  border-radius: 50%;
  background-color: #cbd5e1;
}

.profile-label {
  color: #fdfdfd;
}
.menu{
  margin-left: 25%;
  gap: 10%;
}
.menu-title {
  margin-top: 24px;
  font-size: 12px;
  margin-left: 25%;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 20%;
  margin-top: 25%;
}

.menu-icon {
  width: 25px;
  aspect-ratio: 1.05;
}

.menu-label {
  color: #fdfdfd;
}

.logout {

  display: flex;
  align-items: center;
  bottom: 0;
  gap: 20%;
  margin-top: auto;
  margin-left: 25%;
  margin-bottom: 2%;
}

.logout-icon {
  width: 37px;
  aspect-ratio: 1.28;
  gap: 20%;
}

.logout-label {
  color: #fdfdfd;
}

@media (max-width: 600px) {
  .sidebar{
    display: none;
  }
}