.desktop {
    width: 100vw;
    height: 100vh;
    background-color: #373645;
}
.habits-container{
    width: 78%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 5%;
}